<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tb_ajuste_colaborador_init() hook (in hooks/tb_ajuste_colaborador.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tb_ajuste_colaborador-str_responsavel-<%%VALUE(id)%%>" class="tb_ajuste_colaborador-str_responsavel"><%%SELECT%%><%%VALUE(str_responsavel)%%><%%ENDSELECT%%></td>
		<td id="tb_ajuste_colaborador-dta_data-<%%VALUE(id)%%>" class="tb_ajuste_colaborador-dta_data"><%%SELECT%%><%%VALUE(dta_data)%%><%%ENDSELECT%%></td>
		<td id="tb_ajuste_colaborador-colaborador_id-<%%VALUE(id)%%>" class="tb_ajuste_colaborador-colaborador_id"><%%SELECT%%><%%VALUE(colaborador_id)%%><%%ENDSELECT%%></td>
		<td id="tb_ajuste_colaborador-str_ajuste-<%%VALUE(id)%%>" class="tb_ajuste_colaborador-str_ajuste"><%%SELECT%%><%%VALUE(str_ajuste)%%><%%ENDSELECT%%></td>
		<td id="tb_ajuste_colaborador-gestor_id-<%%VALUE(id)%%>" class="tb_ajuste_colaborador-gestor_id text-right"><%%SELECT%%><%%VALUE(gestor_id)%%><%%ENDSELECT%%></td>
