<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tb_atendimento_init() hook (in hooks/tb_atendimento.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tb_atendimento-str_iniciativa-<%%VALUE(id)%%>" class="tb_atendimento-str_iniciativa"><%%VALUE(str_iniciativa)%%></td>
		<td id="tb_atendimento-empresa_id-<%%VALUE(id)%%>" class="tb_atendimento-empresa_id"><%%VALUE(empresa_id)%%></td>
		<td id="tb_atendimento-contato_id-<%%VALUE(id)%%>" class="tb_atendimento-contato_id"><%%VALUE(contato_id)%%></td>
		<td id="tb_atendimento-str_meio-<%%VALUE(id)%%>" class="tb_atendimento-str_meio"><%%VALUE(str_meio)%%></td>
		<td id="tb_atendimento-str_finalidade-<%%VALUE(id)%%>" class="tb_atendimento-str_finalidade"><%%VALUE(str_finalidade)%%></td>
		<td id="tb_atendimento-dta-<%%VALUE(id)%%>" class="tb_atendimento-dta"><%%VALUE(dta)%%></td>
		<td id="tb_atendimento-campanha_id-<%%VALUE(id)%%>" class="tb_atendimento-campanha_id"><%%VALUE(campanha_id)%%></td>
		<td id="tb_atendimento-usuario_id-<%%VALUE(id)%%>" class="tb_atendimento-usuario_id"><%%VALUE(usuario_id)%%></td>
		<td id="tb_atendimento-str_anotacoes-<%%VALUE(id)%%>" class="tb_atendimento-str_anotacoes"><%%VALUE(str_anotacoes)%%></td>
