<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tb_acompanhamento_init() hook (in hooks/tb_acompanhamento.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tb_acompanhamento-empresa_id-<%%VALUE(id)%%>" class="tb_acompanhamento-empresa_id"><%%SELECT%%><%%VALUE(empresa_id)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-contato_id-<%%VALUE(id)%%>" class="tb_acompanhamento-contato_id"><%%SELECT%%><%%VALUE(contato_id)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-contrato_id-<%%VALUE(id)%%>" class="tb_acompanhamento-contrato_id"><%%SELECT%%><%%VALUE(contrato_id)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-usuario_id-<%%VALUE(id)%%>" class="tb_acompanhamento-usuario_id"><%%SELECT%%><%%VALUE(usuario_id)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-dta-<%%VALUE(id)%%>" class="tb_acompanhamento-dta"><%%SELECT%%><%%VALUE(dta)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-str_meio-<%%VALUE(id)%%>" class="tb_acompanhamento-str_meio"><%%SELECT%%><%%VALUE(str_meio)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-str_statusgeral-<%%VALUE(id)%%>" class="tb_acompanhamento-str_statusgeral"><%%SELECT%%><%%VALUE(str_statusgeral)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-str_clima_cliente-<%%VALUE(id)%%>" class="tb_acompanhamento-str_clima_cliente"><%%SELECT%%><%%VALUE(str_clima_cliente)%%><%%ENDSELECT%%></td>
		<td id="tb_acompanhamento-str_clima_equipe-<%%VALUE(id)%%>" class="tb_acompanhamento-str_clima_equipe"><%%SELECT%%><%%VALUE(str_clima_equipe)%%><%%ENDSELECT%%></td>
