<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tb_vaga_init() hook (in hooks/tb_vaga.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tb_vaga-requerimento_id-<%%VALUE(id)%%>" class="tb_vaga-requerimento_id"><%%VALUE(requerimento_id)%%></td>
		<td id="tb_vaga-int_vaga_numero-<%%VALUE(id)%%>" class="tb_vaga-int_vaga_numero text-right"><%%VALUE(int_vaga_numero)%%></td>
		<td id="tb_vaga-dta_abertura-<%%VALUE(id)%%>" class="tb_vaga-dta_abertura"><%%VALUE(dta_abertura)%%></td>
		<td id="tb_vaga-dta_fechamento-<%%VALUE(id)%%>" class="tb_vaga-dta_fechamento"><%%VALUE(dta_fechamento)%%></td>
		<td id="tb_vaga-str_posicao-<%%VALUE(id)%%>" class="tb_vaga-str_posicao"><%%VALUE(str_posicao)%%></td>
		<td id="tb_vaga-empresa_id-<%%VALUE(id)%%>" class="tb_vaga-empresa_id"><%%VALUE(empresa_id)%%></td>
		<td id="tb_vaga-recrutador_id-<%%VALUE(id)%%>" class="tb_vaga-recrutador_id"><%%VALUE(recrutador_id)%%></td>
		<td id="tb_vaga-str_prioridade-<%%VALUE(id)%%>" class="tb_vaga-str_prioridade"><%%VALUE(str_prioridade)%%></td>
		<td id="tb_vaga-str_status-<%%VALUE(id)%%>" class="tb_vaga-str_status"><%%VALUE(str_status)%%></td>
		<td id="tb_vaga-canal_fechamento-<%%VALUE(id)%%>" class="tb_vaga-canal_fechamento"><%%VALUE(canal_fechamento)%%></td>
		<td id="tb_vaga-str_obs-<%%VALUE(id)%%>" class="tb_vaga-str_obs"><%%VALUE(str_obs)%%></td>
