<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tb_vaga_init() hook (in hooks/tb_vaga.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tb_vaga-requerimento_id-<%%VALUE(id)%%>" class="tb_vaga-requerimento_id"><%%SELECT%%><%%VALUE(requerimento_id)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-int_vaga_numero-<%%VALUE(id)%%>" class="tb_vaga-int_vaga_numero text-right"><%%SELECT%%><%%VALUE(int_vaga_numero)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-empresa_id-<%%VALUE(id)%%>" class="tb_vaga-empresa_id"><%%SELECT%%><%%VALUE(empresa_id)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-str_alocacao-<%%VALUE(id)%%>" class="tb_vaga-str_alocacao"><%%SELECT%%><%%VALUE(str_alocacao)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-recrutador_id-<%%VALUE(id)%%>" class="tb_vaga-recrutador_id"><%%SELECT%%><%%VALUE(recrutador_id)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-str_posicao-<%%VALUE(id)%%>" class="tb_vaga-str_posicao"><%%SELECT%%><%%VALUE(str_posicao)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-dta_abertura-<%%VALUE(id)%%>" class="tb_vaga-dta_abertura"><%%SELECT%%><%%VALUE(dta_abertura)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-str_prioridade-<%%VALUE(id)%%>" class="tb_vaga-str_prioridade"><%%SELECT%%><%%VALUE(str_prioridade)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-str_status-<%%VALUE(id)%%>" class="tb_vaga-str_status"><%%SELECT%%><%%VALUE(str_status)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-dta_fechamento-<%%VALUE(id)%%>" class="tb_vaga-dta_fechamento"><%%SELECT%%><%%VALUE(dta_fechamento)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-dta_previsao_fechamento-<%%VALUE(id)%%>" class="tb_vaga-dta_previsao_fechamento"><%%SELECT%%><%%VALUE(dta_previsao_fechamento)%%><%%ENDSELECT%%></td>
		<td id="tb_vaga-str_obs-<%%VALUE(id)%%>" class="tb_vaga-str_obs"><%%SELECT%%><%%VALUE(str_obs)%%><%%ENDSELECT%%></td>
